<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠管理システム</h1>
  <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- jumbotronの役割説明：https://tonari-it.com/bootstrap-jumbotron/#toc5参照
jumbotronの中の「h1]と「p」の文字サイズと行間をいい感じに指定したよ！
ブラウザの幅が768px以下になったら　文字サイズ・行間、各パーツの合間をいい感じに変更するから！
もしjumbotronを「container」とか「container-fluid」で囲ったら、角丸にするよ！
水平線（hr）のカラーも指定しといたぜ！
などなどが指定されています
つまり「jumbotron」は原則として、中に「h1」と「p」を入れると良い感じにスタイルが指定されるパーツ、なのですね。-->
