<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <!-- ↓　tableのクラスBootstrapのクラス
  table-condensedを付けると行間の狭いテーブルになります。
  table-hover を付けると<tbody> の中のテーブル行をマウスオーバーすると背景色が変わるようになります
  　-->
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>