<!-- ↓hederのclassの中身はbooststrapのclass
    navbar:ナビゲーションバーを表示　navbar-fixed-top:ナビバーを上部に固定する　
    navbar-inverse:ナビバーの色をを反転（黒色）する　-->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Attendance App", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Top",   root_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>